In [1]:
# red라는 글자와 blue라는 글자를 20개 만들기
# red, blue, red, blue, ...

print(rep(c("red","blue"), 20))

 [1] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[11] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[21] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[31] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"

In [2]:
# 1 3 5 1 2 3 4 5 6 7 8 9 10 1 3 5 7 9 1 2 3 1 2 3 

print(c(seq(1,5,2), 1:10 , seq(1,9,2), rep(1:3,2)))

 [1]  1  3  5  1  2  3  4  5  6  7  8  9 10  1  3  5  7  9  1  2  3  1  2  3

In [3]:
# iris의 1~5번째 줄의 데이터만 추출해서 변수(데이터프레임) 만들기
# head는 무조건 1번지부터 출력

head(iris, 5)
iris[1:5,] 
iris[1:5,c(1,3)]  #앞이 행(ㅡ) 뒤가 열(|)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

  Sepal.Length Petal.Length
1 5.1          1.4
2 4.9          1.4
3 4.7          1.3
4 4.6          1.5
5 5.0          1.4

In [4]:
head(iris)
irisHead <- iris[1:5,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [5]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [6]:
# 행과 열을 뒤집는다

t(irisHead)
t(t(irisHead))

             1      2      3      4      5
Sepal.Length 5.1    4.9    4.7    4.6    5.0
Sepal.Width  3.5    3.0    3.2    3.1    3.6
Petal.Length 1.4    1.4    1.3    1.5    1.4
Petal.Width  0.2    0.2    0.2    0.2    0.2
Species      setosa setosa setosa setosa setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [7]:
# iris 에서 150개 데이터 중 10번부터 10씩 증가하여 15개만 Sampling하기

iris[seq(0,150,10),]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [8]:
# row 수

length(iris$Sepal.Length)

[1] 150

In [9]:
# Column 수

length(iris)

[1] 5

In [10]:
nrow(iris) # row 수
ncol(iris) # Column 수

[1] 150

[1] 5

In [11]:
# iris의 Sepal.Length 의 최대값과 최소값의 차이가 평균보다 큰지 확인

max(iris$Sepal.Length) - min(iris$Sepal.Length) > mean(iris$Sepal.Length)

[1] FALSE

In [12]:
# iris 에서 1~10까지의 데이터 중 Sepal.Length와 Sepal.Width만 출력
# 문자로 쓸 수도 있음

iris[1:10,1:2]
iris[1:10, c("Sepal.Length", "Sepal.Width")]

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

In [13]:
# print 쓰면 숫자가 보임

print(head(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [14]:
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [15]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [16]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [17]:
# factor Type인 Species에서 문자와 숫자로 각각 가져오기

print(as.character(iris$Species))

#  숫자만 가져오기
print(as.integer(iris$Species))

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

---
# 벡터 계산

In [18]:
x <- c(3,6,9,12,15)
print(x + 1)

[1]  4  7 10 13 16

In [19]:
# 번지수끼리 더하기

print(x + 1:5)

[1]  4  8 12 16 20

In [20]:
print(x + 1:2)

# Length를 계산해서 맞춰줘야함

Warning message in x + 1:2:
“두 객체의 길이가 서로 배수관계에 있지 않습니다”

[1]  4  8 10 14 16

In [21]:
# 벡터 합치기
x <- c(3,5,6,12,15)
y <- 1:5
append(x,y)

 [1]  3  5  6 12 15  1  2  3  4  5

In [22]:
length(append(iris$Sepal.Length, iris$Sepal.Width))

[1] 300

In [23]:
length(c(iris$Sepal.Length, iris$Sepal.Width))

[1] 300

In [24]:
# iris의 Sepal.Length의 중복되지 않은 갯수의 percent 구하기
paste(round(length(unique(iris$Sepal.Length)) / length(iris$Sepal.Length)*100, 2),'%')

# # iris의 Sepal.Length의 중복된 갯수의 percent 구하기
paste(round((length(iris$Sepal.Length) - length(unique(iris$Sepal.Length))) / length(iris$Sepal.Length) * 100 , 2),'%')

[1] "23.33 %"

[1] "76.67 %"

# 문자열 관련 함수

In [25]:
x <- c('a','b','c','d','e')
print(x)
print(x[1:2])

# 문자열을 합쳐서 하나의 벡터로 만드는 함수, 출력용이 아니라 합치는 함수임
paste(x[1],x[2])

[1] "a" "b" "c" "d" "e"
[1] "a" "b"

[1] "a b"

In [26]:
paste("Hello", "World!")

[1] "Hello World!"

In [27]:
# iris의 1, 51, 100번의 Species만 한꺼번에 출력하기

'setosa : versicolor : viginica'

paste(iris$Species[1], ":", iris$Species[51], ":", iris$Species[101])

[1] "setosa : versicolor : viginica"

[1] "setosa : versicolor : virginica"

In [28]:
# 문자열 출력
cat("Hello", "\n", "World!")

Hello
 World!

In [29]:
# , 가 있으면 스페이스바 한번
cat("\n", "Hello", "\n", "World!")

 Hello
 World!

In [30]:
# 붙여쓰기
cat("Hello\nWorld!")

Hello
World!

In [31]:
# 간격 맞춰 쓰기
cat("90\t80\t70")

90	80	70

In [32]:
paste("010", "1111", "2222", sep="-")
paste("010", "1111", "2222", sep="")
paste("010", "1111", "2222", sep="^^")

[1] "010-1111-2222"

[1] "01011112222"

[1] "010^^1111^^2222"

# 문자열 추출하기

In [33]:
str01 <- "abcdefghijklmn"
substring(str01, 2, 5)

str02 <- "가슬공주님이다"
substring(str02, 2, 5)
substring(123456, 3, 5)

[1] "bcde"

[1] "슬공주님"

[1] "345"

In [34]:
# Ex : 출력되는 x중 4와 7사이에 있는 것은 몇개 인가?
set.seed(123)   # 이게 먼데
x <- runif(5, 1, 20)
print(x)



# R은 한번에 쓸 수 없기 때문에 따로 써줘야 함
4<x & x<7
# True = 1, False = 0
sum(4<x & x<7)

[1]  6.463973 15.977798  8.770562 17.777331 18.868878

[1]  TRUE FALSE FALSE FALSE FALSE

[1] 1

# 행렬(Matrix)

In [35]:
# 행렬 : 2차원 자료를 저장하는 자료형
# 행렬은 데이터 형태가 모두 일치 되어야 구성

# Vector로 행렬 만들기
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [36]:
# 행으로 붙이기 : rbind (row binding)
mat1 <- rbind(vec1, vec2, vec3)
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

In [37]:
# 열로 붙이기 : cbind(column binding)
mat2 <- cbind(vec1, vec2, vec3)
mat2

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [38]:
# iris의 1~5 번 데이터만 추출하여 irisHead라는 변수에 넣기
irisHead <- head(iris, 5)

# irisHead에 새로운 데이터 1,1,1,1,setosa 추가하기
irisHead <- rbind(irisHead, c(1,1,1,1,'setosa'))

# irisHead에 abc라는 칼럼과 2,2,2,2,2,2의 데이터 추가하기
irisHead <- cbind(irisHead, abc=rep(2,6))

In [39]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

In [40]:
# iris의 1~5 번 데이터만 추출하여 irisHead라는 데이터셋 만들기

irisHead = iris[1:5,]
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [41]:
# irisHead <- cbind(irisHead, Length= irisHead$Sepal.Length + irisHead$Petal.Length)
irisHead$Length <- irisHead$Sepal.Length + irisHead$Petal.Length

In [42]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [43]:
class(irisHead)

[1] "data.frame"

In [44]:
# iris에서 Sepal.Length와 Sepal.Width만 추출하여 irisM이라는 데이터프레임 만들기
sl <- iris$Sepal.Length
sw <-iris$Sepal.Width
irisM <- cbind(sl,sw)
head(irisM) # but 데이터 프레임이 아님 바꿔줘야함, 칼럼으로 빼내 온 것이기 때문

     sl  sw
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

In [45]:
irisM <- as.data.frame(irisM)
class(irisM)

[1] "data.frame"

In [46]:
# mat1의 칼럼 이름 추가

mat1
colnames(mat1) <- c("A","B","C")
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

In [47]:
mat1D <- as.data.frame(mat1)
class(mat1D)

[1] "data.frame"

In [48]:
# mat2에 row 이름 추가

mat2
rownames(mat2) <- 1:3
print(mat2)
mat2D <- as.data.frame(mat2)
class(mat2D)

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

  vec1 vec2 vec3
1    1    4    7
2    2    5    8
3    3    6    9

[1] "data.frame"

In [49]:
# mat1D 와 mat2D 를 하나의 DataSet으로 만들기

print(mat1D)
print(mat2D)

colnames(mat2D) <- colnames(mat1D)
rbind(mat1D,mat2D)

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9
  vec1 vec2 vec3
1    1    4    7
2    2    5    8
3    3    6    9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9
1    1 4 7
2    2 5 8
3    3 6 9

---
# DataFrame

In [50]:
# 벡터로 데이터프레임 만들기

no <- 1:4
name <- c('Apple','Banana','Peach','Berry')
price <- c(500,400,300,200)
qty <- c(5,2,7,9)

In [51]:
fruit <- data.frame(번호=no, 상품명=name, 금액=price, 재고량=qty, stringsAsFactors=F)   
#stringsAsFactors=F  : factor를 안쓰겠다는 말
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

In [52]:
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 2 7 9

In [53]:
summary(fruit)

      번호         상품명               금액         재고량
 Min.   :1.00   Length:4           Min.   :200   Min.   :2.00
 1st Qu.:1.75   Class :character   1st Qu.:275   1st Qu.:4.25
 Median :2.50   Mode  :character   Median :350   Median :6.00
 Mean   :2.50                      Mean   :350   Mean   :5.75
 3rd Qu.:3.25                      3rd Qu.:425   3rd Qu.:7.50
 Max.   :4.00                      Max.   :500   Max.   :9.00

In [54]:
# fruit에서 상품명과 재고량만 보기

fruit[,c(2, 4)]

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [55]:
# fruit에서 번호를 제외한 모든 내용 보기
fruit[,-1]

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  7
4 Berry  200  9

In [56]:
# fruit에서 2,4 번 행을 제외한 상품명, 금액, 재고량만 출력하기
fruit[-c(2,4),-1]

  상품명 금액 재고량
1 Apple  500  5
3 Peach  300  7

In [57]:
# 재고금액(금액*재고량)이라는 칼럼 생성하여 fruit에 붙이기
fruit$재고금액 <- fruit$금액 * fruit$재고량

fruit

  번호 상품명 금액 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  2       800
3 3    Peach  300  7      2100
4 4    Berry  200  9      1800

In [58]:
fruit$원산지 <- c("한국","태국", "한국", "중국")
fruit

  번호 상품명 금액 재고량 재고금액 원산지
1 1    Apple  500  5      2500     한국
2 2    Banana 400  2       800     태국
3 3    Peach  300  7      2100     한국
4 4    Berry  200  9      1800     중국

---
# 외부 File 불러오기

In [59]:
# txt file 불러오기

txtEmp <- read.table("../Data/emp.txt") # 전부 다 행으로 나옴
txtEmp

txtEmp <-read.table("../Data/emp.txt", header = T, stringsAsFactors = F )   # header = T : 헤더가 있다고 알려줌
txtEmp

# txtEmp <-read.table("../Data/emp.txt", header = T, sep = "/", stringsAsFactors = F ,fileEncoding = 'utf-8')   
# sep = "/" : 
# fileEncoding = 'utf-8' : 윈도우에서 불러온 파일은 한글 깨지기때문에 적어줘야댐
txtEmp

  V1   V2   V3
1 사번 이름 급여
2 101  hong 150
3 201  lee  250
4 301  kim  300

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [60]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [61]:
# csv(Comma seperated Value)
csvEmp <-read.csv("../Data/emp2.csv", header = F)

# 사번, 이름, 급여로 칼럼 변경하기
colnames(csvEmp) <- c("사번","이름","급여")
csvEmp

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [83]:
# x <- 1:5
# y <- seq(2,10,2)
# z <- c('a','b','c','d','e')
# df <- cbind(x,y,z)
# df


df <- data.frame(x=1:5, y=seq(2,10,2), z=c('a','b','c','d','e'))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [84]:
# 예제
# x칼럼의 합계는 15이고 Y칼럼의 합계는 30입니다.

cat('x칼럼의 합계는',sum(x),'이고 y칼럼의 합계는',sum(y),'입니다.',sep="")

x칼럼의 합계는15이고 y칼럼의 합계는30입니다.

# 함수를 부르는 함수

In [89]:
# 데이터 프레임에 함수 적용 (열방향)
# X에서 y까지 열방향으로 더하라
apply(df[,1:2], 2, sum)
apply(df[,1:2], 2, mean)
apply(df[,1:2], 2, sd)
apply(df[,1:2], 2, sum)[1]

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

 x
15

In [91]:
# 데이터 프레임에 함수 적용 (행방향)

apply(df[,1:2], 1, sum)
apply(df[,1:2], 1, mean)
apply(df[,1:2], 1, sd)

[1]  3  6  9 12 15

[1] 1.5 3.0 4.5 6.0 7.5

[1] 0.7071068 1.4142136 2.1213203 2.8284271 3.5355339

In [98]:
# df에 Hap이라는 칼럼을 만들어서 행방향의 합계 구하기
df$Hap <- seq(3,15,3)
df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [102]:
# 부분집합
# sql select

df
subset(df, x>=3)
subset(df, x>=3 & y>=8)

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

In [107]:
# 하나씩 치면서 보고싶은 것만 볼수있음
subset(df, x>=3 & y>=8)[,1:2]

subset(df, x>=3 & y>=8)[,1:2][,1]

  x y
4 4  8
5 5 10

[1] 4 5

In [113]:
# 4번행과 5번행의 x칼럼과 y칼럼의 합계를 구하라
subset(df, x>=3 & y>=8)
apply(subset(df, x>=3 & y>=8)[,1:2], 2, sum)

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

 x  y
 9 18

# 두개 이상의 데이터프레임 병합하기

In [79]:
# case 1 : Key값이 되는 컬럼이 동일하고, data의 갯수도 동일한 경우

height <- data.frame(id=1:3, height=c(160,170,180)); height
weight <- data.frame(id=c(2,1,3), weight=c(60,70,80)); weight

  id height
1 1  160
2 2  170
3 3  180

  id weight
1 2  60
2 1  70
3 3  80

In [80]:
merge(height, weight)

  id height weight
1 1  160    70
2 2  170    60
3 3  180    80

In [83]:
# case 2 : Key값이 되는 컬럼이 동일하지 않고, 각각의 data의 갯수도 다를 경우

height <- data.frame(id=1:3, height=c(160,170,180)); height
weight <- data.frame(ad=c(2,1), weight=c(70,80)); weight

  id height
1 1  160
2 2  170
3 3  180

  ad weight
1 2  70
2 1  80

In [84]:
merge(height, weight)

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  80
5 2  170    1  80
6 3  180    1  80

In [85]:
# key를 정의하기 : data가 적은 쪽의 기준으로 merge한다. 교집합개념

merge(x=height, y=weight, by.x='id', by.y='ad')

  id height weight
1 1  160    80
2 2  170    70

In [86]:
# data가 많은 쪽의 기준으로 merge한다. 합집합개념

merge(x=height, y=weight, by.x='id', by.y='ad', all.x = T)

  id height weight
1 1  160    80
2 2  170    70
3 3  180    NA

# 행렬 함수로 행령 만들기

In [87]:
matrix(1:10)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

In [88]:
matrix(1:10, nrow=2)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

In [89]:
# 데이터가 하나 소실됨
matrix(1:10, nrow=3, ncol=3)

Warning message in matrix(1:10, nrow = 3, ncol = 3):
“데이터의 길이[10]가 행의 개수[3]의 배수가 되지 않습니다”

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### List
- Type이 다른 자료구조로 생성이 가능하다.
- key와 value값으로 구성된다. (자바에서는 key와 value값으로 구성된건 dictionary임)

In [91]:
member <- list(name="홍길동", address="서울", tel="010-1111-2222", pay=300)
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

In [92]:
# member의 name을 알고 싶을 때
member$name

[1] "홍길동"

In [93]:
# member에 새로운 컬럼을 추가하기

member$birth <- '1988-08-08'
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

$birth
[1] "1988-08-08"

---
# 문자열 처리
- 수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업
    R에서는 package가 정말 많다. (자바에서 import개념임)

### stringr package 사용
- str_length() :  문자열 길이를 알려주는 것
- str_c() : 문자열 연결
- str_sub() : 범위에 해당하는 문자열 생성(자르는 것)
- str_split() : 구분자를 기준으로 문자열을 분리하여 부분 생성
- str_replace() : 문자열에서 기존 문자열을 특정 문자열로 변환(replace는 , 하나 변환/ replace_all은 전체, 변환)
- str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출(str_extract_all() 조건 : 정규식을 이용함)
- str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출(str_locate_all()은 전체 위치 추출)

In [96]:
# 패키지 불러오기

library(stringr)

In [107]:
string <- "hongkildong105yoube1002kwanwoo25장비2005"

In [108]:
# a~z까지의 영문자가 연속으로 3개 발견된 문자열을 추출하기
# str_extract_all(추출하고 싶은 변수,"정규식 조건")

str_extract_all(string, "[a-z]{3}")

[[1]]
[1] "hon" "gki" "ldo" "you" "kwa" "nwo"

In [114]:
# a~z까지의 영문자가 연속으로 3개~5개 발견된 문자열 추출하기

str_extract_all(string, "[a-z]{3,5}")

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

In [115]:
# a~z까지의 영문자가 연속으로 1개이상 발견된 문자열 추출하기

aaa <- str_extract_all(string, "[a-z]{1,}")
class(aaa)
bbb <- unlist(aaa)
bbb[1]

[1] "list"

[1] "hongkildong"

In [126]:
# string에서 숫자만 출력하여 합계 구하기

# 1단계_정규식 이용해서 추출하기
    str_extract_all(string,"[0-9]{1,}")

# 2단계_list로 바꾸기
    unlist(str_extract_all(string,"[0-9]{1,}"))

# 3단계_숫자형으로 바꾸기
    as.numeric(unlist(str_extract_all(string,"[0-9]{1,}")))

# 4단계_합계구하기
    sum(as.numeric(unlist(str_extract_all(string,"[0-9]{1,}"))))

[[1]]
[1] "105"  "1002" "25"   "2005"

[1] "105"  "1002" "25"   "2005"

[1]  105 1002   25 2005

[1] 3137

In [127]:
# string에서 한글만 추출하기

str_extract_all(string,"[가-힣]{1,}")

[[1]]
[1] "장비"

In [130]:
# 영문자를 제외한 문자 출력하기

# 영문자를 출력
str_extract_all(string,"[a-z]{1,}")

# 제외하는 조건을 추가해야됨 : ^
str_extract_all(string,"[^a-z]{1,}")

[[1]]
[1] "hongkildong" "yoube"       "kwanwoo"

[[1]]
[1] "105"        "1002"       "25장비2005"

In [131]:
# 문자열 길이 구하기

str_length(string)

[1] 38

In [137]:
# 문자열 위치 구하기
string

str_locate(string, "장비")
# 형식
class(str_locate(string, "장비"))

str_locate(string, "장비")[1]

[1] "hongkildong105yoube1002kwanwoo25장비2005"

     start end
[1,] 33    34

[1] "matrix"

[1] 33

In [139]:
# 부분 문자열 추출하기('장비'라는 글자 앞부분만 출력하기)

str_sub(string, 1, 32)
# 유용하게 쓰임
str_sub(string, 1, str_locate(string,'장비')[1]-1)

[1] "hongkildong105yoube1002kwanwoo25"

[1] "hongkildong105yoube1002kwanwoo25"

In [140]:
# 대문자, 소문자 변경하기

str_to_upper(string)

str_to_lower(string)

[1] "HONGKILDONG105YOUBE1002KWANWOO25장비2005"

[1] "hongkildong105yoube1002kwanwoo25장비2005"

In [142]:
# 문자열 교체하기

# string의 hongkildong105 부분을 -> 홍길동35, 으로 교체한다라는 뜻
string <- str_replace(string, "hongkildong105", "홍길동35,")
string <- str_replace(string, "yoube1002", "유비45,")
string <- str_replace(string, "kwanwoo25", "관우25,")
string <- str_replace(string, "2005", "20")

string

[1] "홍길동35,유비45,관우25,장비20"

In [143]:
# 문자열 분리하기

str_split(string, ",")

[[1]]
[1] "홍길동35" "유비45"   "관우25"   "장비20"

In [151]:
# 천단위 쉼표가 들어간 문자열을 숫자로 변경하기

# 방법 1) str_replace_all
price <- "123,456,789"

str_replace_all(price, ",", "")

as.numeric(str_replace_all(price, ",", ""))

[1] "123456789"

[1] 123456789

In [152]:
# 방법 2) str_remove
price <- "123,456,789"

str_remove_all(price,",")

as.numeric(str_remove_all(price,","))

[1] "123456789"

[1] 123456789

In [154]:
# NA를 변경하기

temp <- c(1, 2, NA, 4)
temp
# str_replace_na를 사용해보자
str_replace_na(temp, 10)
# 다 문자열로 바뀌었으니 numeric으로 바꿔준다.
as.numeric(str_replace_na(temp, 10))

[1]  1  2 NA  4

[1] "1"  "2"  "10" "4"

[1]  1  2 10  4